.card {
  width: 30rem;
  height: max-content;
}

.poster {
  width: 13rem;
}

.card-title {
  font-size: 25px;
}
.card-subtitle {
  font-size: 20px;
  padding-bottom: 10px;
}
.card-text {
  font-size: 18px;
  color: #4d4d4d;
}
