.card-title {
  font-size: 25px;
}
.card-subtitle {
  font-size: 20px;
}
.card-text {
  font-size: 14px;
  color: #4d4d4d;
}

.card-title a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  align-items: center;
  padding: .25rem;
}
